<% provide(:title, "About") %>
<h1>About</h1>
<p>
  The Team 19 Logbook was created as part of the UCL Computer Science Department Scenario week.
  Our team developped this log book using DevOps techniques.
</p>
