
<footer class="footer">
  <small>
    The UCL <a href="http://students.cs.ucl.ac.uk/2017/group19/index.html">Team 19</a> Logbook
    by Nadim, Daren and Maria
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>
